<section class="sixteen columns">
    <h1>Awards</h1>
    <html>
<body>

<div class="gs_citr" tabindex="0">1 - <strong>1<sup>st</sup> Place</strong>  in the 2017 Ph.D. Thesis competition, organized by the Brazilian Microelectronics Society</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">2 - <strong>3<sup>rd</sup> Place</strong>  in the 2017 Ph.D. Thesis competition, organized by the Brazilian Computer Society</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">3 - <strong>1<sup>st</sup> Place</strong> in &quot;<a href="http://cad-contest.el.cycu.edu.tw/problem_C/default.html"><span style="color:#0000FF;">ICCAD 2015 Contest on Incremental Timing-Driven Placement</span></a>&quot;</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">4 - <strong>5<sup>th</sup> Place</strong> in &quot;<a href="http://cad_contest.ee.ncu.edu.tw/CAD-Contest-at-ICCAD2014/problem_b/default.html"><span style="color:#0000FF;">ICCAD 2014 Contest on Incremental Timing-Driven Placement</span></a>&quot;</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">5 - <strong>1<sup>st</sup> Place</strong> in &quot;<a href="http://www.ispd.cc/contests/13/ispd2013_contest.html"><span style="color:#0000FF;">ISPD 2013 Discrete Gate Sizing Contest and Benchmark Suite</span></a>&quot;</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

</body>
</html>

</section>
