<section class="thirteen columns">
    <h1>Awards</h1>
    <html>
<head>
	<title></title>
</head>
<body>
<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">1 - <strong>First Place</strong> in &quot;<a href="http://cad-contest.el.cycu.edu.tw/problem_C/default.html"><span style="color:#0000FF;">ICCAD 2015 Contest on Incremental Timing-Driven Placement</span></a>&quot;</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">1 - <strong>Fifth Place</strong> in &quot;<a href="http://cad_contest.ee.ncu.edu.tw/CAD-Contest-at-ICCAD2014/problem_b/default.html"><span style="color:#0000FF;">ICCAD 2014 Contest on Incremental Timing-Driven Placement</span></a>&quot;</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">1 - <strong>First Place</strong> in &quot;<a href="http://www.ispd.cc/contests/13/ispd2013_contest.html"><span style="color:#0000FF;">ISPD 2013 Discrete Gate Sizing Contest and Benchmark Suite</span></a>&quot;</div> 

<div class="gs_citr" tabindex="0">&nbsp;</div>

</body>
</html>

</section>
