<section class="sixteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. degree in Automation and Systems Engineering</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2013 to 2016</time></span><br>
			<span><strong>Advisor:</strong> Luiz C. V. dos Santos.  <strong>Co-advisor:</strong> José Luís Güntzel</span>
			</header>
        <p> <em><strong>Thesis:</strong> &quot;<a href="https://drive.google.com/open?id=0B_fC_3cMFKXnRGpkVmZoQVd6RTA"><span style="color:#0000FF;">Timing Optimization During the Physical Synthesis of Cell-Based VLSI Circuits</span></a>&quot; </em>
        </p>
    </article>
    <article>
        <header>
            <h1>M.Sc. degree in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2010 to 2013</time></span><br>
			<span><strong>Advisor:</strong> José Luís Güntzel.  <strong>Co-advisor:</strong> Marcelo O. Johann</span>
        </header>
        <p> <em><strong>Dissertation:</strong> &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnQ2N1TGdudXZqaGs/view?usp=sharing"><span style="color:#0000FF;">Discrete Gate Sizing Based on Lagrangian Relaxation for Leakage Power Minimization of Digital Circuits</span></a>&quot; </em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Sc. degree in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2004 to 2008</time></span><br>
			<span><strong>Advisor:</strong> Luiz C. V. dos Santos</span>
        </header>
        <p> <em><strong>Course completion assignment:</strong> &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnbW13U21YNHk0a0E/view?usp=sharing"><span style="color:#0000FF;">Modeling of Processor DSP TMS 320C4x for SoC Platforms</span></a>&quot; </em>
        </p>
    </article>
</section>
