<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2014 to now</time></span>
        </header>
        <p>
            <em>Dissertation: Discrete Gate Sizing Based on Lagrangian Relaxation for Leakage Power Minimization of Digital Circuits</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2010 to 2013</time></span>
        </header>
        <p>
            <em>Course completion assignment: Modeling of Processor DSP TMS 320C4x for SoC Platforms </em>
        </p>
    </article>
</section>
