<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Computer Science (Graduate on the 18<sup>th</sup> of December)</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2014 to now</time></span>
        </header>
        <p>
            <em>Dissertation: Otimização de Atraso Pós-Posicionamento Explorando Ramos Steiner Não-Críticos</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>Universidade Federal de Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2010 to 2013</time></span>
        </header>
        <p>
            <em>Course completion assignment: Análise de <em>Timing Estática</em> e a Avaliação do Impacto do Atraso das Interconexões em Circuitos Digitais</em>
        </p>
    </article>
</section>
