<section class="sixteen columns">
    <h1>Employment</h1>
	<article>
	<header>
		<h1> Research and Development Engineer Intern @ <a href="https://www.cadence.com/" target="blank"> Cadence Design Systems</a></h1>
		<span><address>Austin, USA</address><time>2017 to now </time></span><br>
		<span><strong>Supervisor:</strong> Zhuo Li </span>
	</header>

</article>
    <article>
        <header>
            <h1> Graduate Researcher @ <a href="http://eclab.paginas.ufsc.br/" target="blank"> Embedded Computing Lab - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2013 to 2016 </time></span>
        </header>
        <p> Research and development of an incremental timing-driven placement tool. The main results were reported in five papers [9], [10], [11], [12], and [13].
.</p>
</article>
   <article>
	<header>
		<h1> Physical Design Engineer Intern  @ <a href="http://www.chipus-ip.com/" target="blank"> Chipus Microelectronics</a></h1>
		<span><address>Florianópolis, BR</address><time>August to December of 2016</time></span><br>
		<span><strong>Supervisor:</strong> Paulo A. Dal Fabbro </span>
	</header>
	<p> Responsible for logical and physical synthesis with support for Design for Testability (DFT) structures.
.</p>
    </article>
       <article>
        <header>
            <h1> Visiting Scholar  @ <a href="http://www.cerc.utexas.edu/utda/" target="blank"> UTDA Lab at University of Texas at Austin</a></h1>
            <span><address>Austin, USA</address><time>January to July of 2016</time></span>
			<span><strong>Supervisor:</strong> David Z. Pan </span>
        </header>
        <p> Research and development of a timing-driven incremental layer assignment framework. The main results were reported in one paper [15].
.</p>
    </article>
       <article>
        <header>
            <h1> Graduate Researcher @ <a href="http://eclab.paginas.ufsc.br/" target="blank"> Embedded Computing Lab - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2011 to 2013</time></span>
        </header>
        <p> Research and development of a discrete gate sizing tool. The main results were reported in four papers [5], [6], [7], and [8].
.</p>
    </article>
    <article>
        <header>
            <h1>Part-Time Embedded System Designer @ <a href="http://www.macnicadhw.com.br/" target="blank"> Macnica DHW</a></h1>
            <span><address>Florianópolis, BR</address><time>2011 to 2012</time></span>
        </header>
        <p> Design and development of an embedded system on FPGA to manage and control an industrial printing system.
.</p>
    </article>
       <article>
        <header>
            <h1>Trainee in IC Design under the Brazil-IP Program @ <a href="http://eclab.paginas.ufsc.br/" target="blank"> Embedded Computing Lab - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2009 to 2011</time></span>
        </header>
        <p> Trainment in digital IC design under industrial design flow and tools. The trainment encompassed 1) system requirements, 2) verification and testbench coding, 3) RTL design,
4) logical synthesis, and 5) physical synthesis. The designed circuit was a discrete cosine transform for image coding and the main results were reported in four papers [1], [2], [3],
and [4].
.</p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Researcher @ <a href="http://eclab.paginas.ufsc.br/" target="blank"> Embedded Computing Lab - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2007 to 2008</time></span>
        </header>
        <p> Modeling of a DSP Processor using the ArchC Architecture Description Language. The description of that processor allowed to generate coding inspection tools like disassembler.
and debugger
.</p>
    </article>
    <article>
        <header>
            <h1>Trainee @ <a href="http://s2i.das.ufsc.br/wiki/tiki-index.php?page=S2i" target="blank"> s2i - Intelligent Industrial Systems - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2006 to 2007</time></span>
        </header>
        <p>Trainee program for the development and implementation of solutions for industrial systems, vision systems and metrology, with emphasis in the following programming languages: C, C++, C# and Python
.</p>
    </article>
  <!--
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article> -->
</section>
