<section class="thirteen columns">
    <h1>Publications</h1>
    <html>
    <head>
	<title></title>
      </head>
      <body>
	<div class="gs_citr" id="gs_cit2" tabindex="0">1 - Guth, Chrystian, <strong>Vinicius Livramento</strong>, Renan Netto, Renan Fonseca, Jos&eacute; Lu&iacute;s G&uuml;ntzel, and Luiz Santos. &quot;<a href="https://www.dropbox.com/s/vfa19ki5go1udyq/p141-guth.pdf?dl=0">Timing-driven Placement Based on Dynamic Net-weighting for Efficient Slack Histogram Compression.</a>&quot; In <i>Proceedings of the 2015 International Symposium on Physical Design (ISPD)</i>, pp. 141-148. ACM, 2015.</div>
      </body>
      </html>
</section>
