<section class="sixteen columns">
    <h1>Publications</h1>
    <html>
<body>

  <div class="gs_citr" id="gs_cit2" tabindex="0">18 - Derong Liu, <strong>Vinicius Livramento</strong>, Salim Chowdhury, Duo Ding, Huy Vo, Akshay Sharma, and David Z. Pan. &quot; <a href="https://drive.google.com/file/d/0B_fC_3cMFKXnWEo4ZWh5anpsOUU/view?usp=sharing"><span style="color:#0000FF;"> Streak: Synergistic Topology Generation and Route Synthesis for On-Chip Performance-Critical Signal Groups.</span></a> &quot;<i> ACM Design Automation Conference (DAC) </i>, 2017. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" id="gs_cit2" tabindex="0">17 - Xiaoqing Xu, Yibo Lin, <strong>Vinicius Livramento</strong>, and David Z. Pan. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnZzNzS3dJVHE1NXc/view?usp=sharing"><span style="color:#0000FF;">Concurrent Pin Access Optimization for Unidirectional Routing.</span></a> &quot; <i> ACM Design Automation Conference (DAC) </i>, 2017. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" id="gs_cit2" tabindex="0">16 - Tiago Fontana, Renan Netto, <strong>Vinicius Livramento</strong>, Chrystian Guth, Sheiny Almeida, Laércio Pilla, and José Luís Güntzel.&quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnSUJONDJ2cW1mU3c/view?usp=sharing"><span style="color:#0000FF;">How Game Engines Can Inspire EDA Tools Development: a use case for an open-source physical design library.</span></a> &quot; <i> ACM International Symposium on Physical Design (ISPD) </i>, 2017. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">15 - <strong>Vinicius Livramento</strong>, Derong Liu, Salim Chowdhury, Bei Yu, Xiaoqing Xu, David Z. Pan, Jose Luis Guntzel, and Luiz C.V. dos Santos. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnd0wwc1dtMnZVaGc/view?usp=sharing"><span style="color:#0000FF;">Incremental Layer Assignment Driven by an External Signoff Timing Engine.</span></a>&quot; <i> IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD)</i>, 2016. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" id="gs_cit2" tabindex="0">14 - Renan Netto, Chrystian Guth, <strong>Vinicius Livramento</strong>, Marcio Castro, Marcio Castro, Laércio Pilla, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnWjlMY1AtY1lNWjQ/view?usp=sharing"><span style="color:#0000FF;">Exploiting Parallelism to Speed Up Circuit Legalization.</span></a>&quot; <i> In Proceedings of the International Conference on Electronics Circuits and Systems (ICECS) </i>, 2016. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" id="gs_cit2" tabindex="0">13 - Renan Netto, <strong>Vinicius Livramento</strong>, Chrystian Guth, Luiz C. V. Santos, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnOVlSc3pnNjBuaFE/view?usp=sharing"><span style="color:#0000FF;">Evaluating the Impact of Circuit Legalization on Incremental Optimization Techniques.</span></a>&quot; <i> In Proceedings of the Symposium on Integrated Circuits and Systems Design (SBCCI) </i>, pp. 1-6, IEEE, 2016. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" id="gs_cit2" tabindex="0">12 - Renan Netto, <strong>Vinicius Livramento</strong>, Chrystian Guth, Luiz C. V. Santos, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnN0Q5dkJqY3F2R2M/view?usp=sharing"><span style="color:#0000FF;">Speeding Up Incremental Legalization With Fast Queries to Multidimensional Trees.</span></a>&quot; <i> In Proceedings of the IEEE Computer Society Annual Symposium on VLSI (ISVLSI) </i>, pp. 35-41, IEEE, 2016. </div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">11 - <strong>Vinicius Livramento</strong>, Renan Netto, Chrystian Guth, Jose Luis Guntzel, and Luiz C.V. dos Santos. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXncU01azZvX0dvb1k/view?usp=sharing"><span style="color:#0000FF;">Clock-Tree-Aware Incremental Timing-Driven Placement.</span></a>&quot; <i> ACM Transactions on Design Automation of Electronic Systems (TODAES)</i> 21, no. 38 (2016): 3.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">10 - <strong>Vinicius Livramento</strong>, Chrystian Guth, Renan Netto, Jose Luis Guntzel, and Luiz C.V. dos Santos. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnTnFVb0g3ZjQ0ZDQ/view?usp=sharing"><span style="color:#0000FF;">Exploiting non-critical Steiner tree branches for post-placement timing optimization.</span></a>&quot; <i> In Proceedings of the 2015 IEEE/ACM International Conference on</i> Computer-Aided Design (ICCAD), pp. 528-535. IEEE, 2015.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" id="gs_cit2" tabindex="0">9 - Chrystian Guth, <strong>Vinicius Livramento</strong>, Renan Netto, Renan Fonseca, Jos&eacute; Lu&iacute;s G&uuml;ntzel, and Luiz Santos. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXndGZQUUl4R3ZjWnc/view?usp=sharing"><span style="color:#0000FF;">Timing-driven Placement Based on Dynamic Net-weighting for Efficient Slack Histogram Compression.</span></a>&quot; <i>In Proceedings of the 2015 International Symposium on Physical Design (ISPD)</i>, pp. 141-148. ACM, 2015. (<strong>Best Paper Candidate</strong>)</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">8 - <strong>Vinicius S. Livramento</strong>, Chrystian Guth, Jos&eacute; Lu&iacute;s G&uuml;ntzel, and Marcelo O. Johann. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnMHkxSUVoYWk5Tm8/view?usp=sharing"><span style="color:#0000FF;">A Hybrid Technique for Discrete Gate Sizing Based on Lagrangian Relaxation.</span></a>&quot; <i> ACM Transactions on Design Automation of Electronic Systems (TODAES)</i> 19, no. 4 (2014): 40.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">7 - <strong>Vinicius S. Livramento</strong>, Chrystian Guth, Jos&eacute; Lu&iacute;s G&uuml;ntzel, and Marcelo O. Johann. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnNkVWaGNHZzVmUzg/view?usp=sharing"><span style="color:#0000FF;">Fast and Efficient Lagrangian Relaxation-Based Discrete Gate Sizing.</span></a>&quot; <i> In Proceedings of the Design, Automation and Test in Europe</i> (DATE), pp. 1855-1860. EDA Consortium, 2013.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">6 - <strong>Vinicius S. Livramento</strong>, Chrystian Guth, Jos&eacute; Lu&iacute;s G&uuml;ntzel, and Marcelo O. Johann. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnVVdRbHRLNmR6TDQ/view?usp=sharing"><span style="color:#0000FF;">Evaluating the Impact of Slew on Delay and Power of Neighboring Gates in Discrete Gate Sizing.</span></a>&quot; <i> In Proceedings of the IEEE Latin American Symposium on Circuits and Systems (LASCAS)</i>, pp. 1-4. IEEE, 2012.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">5 - <strong>Vinicius S. Livramento</strong>, Chrystian Guth, Jos&eacute; Lu&iacute;s G&uuml;ntzel, and Marcelo O. Johann. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnRFdZY2FoNUhWREE/view?usp=sharing"><span style="color:#0000FF;">Lagrangian Relaxation-Based Discrete Gate Sizing for Leakage Power Minimization.</span></a>&quot; <i> In Proceedings of the International Conference on Electronics, Circuits and Systems (ICECS), 2012</i>, pp. 468-471. IEEE, 2012.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">4 - <strong>Vinicius S. Livramento</strong>, Bruno G. Moraes, Brunno A. Machado, Eduardo Boabaid, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnaVZFb0NvdXhERFk/view?usp=sharing"><span style="color:#0000FF;">Evaluating the Impact of Architectural Decisions on the Energy Efficiency of FDCT/IDCT Configurable IP Cores.</span></a>&quot; <i> Journal of Integrated Circuits and Systems (JICS),</i> pp. 23-36. 2012.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">3 - <strong>Vinicius S. Livramento</strong>, Bruno G. Moraes, Brunno A. Machado, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnV2NVMkN6Z1lzLUk/view?usp=sharing"><span style="color:#0000FF;">An Energy-Efficient 8x8 2-D DCT VLSI Architecture for Battery-Powered Portable Devices.</span></a>&quot; <i> In Proceedings of the International Symposium on Circuits and Systems (ISCAS)</i>, pp. 587-590. IEEE, 2011.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">2 - <strong>Vinicius S. Livramento</strong>, Bruno G. Moraes, Brunno A. Machado, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnSWk3OWlWUVZlNGM/view?usp=sharing"><span style="color:#0000FF;">An Energy-Efficient FDCT/IDCT Configurable IP Core for Mobile Multimedia Platforms.</span></a>&quot; <i> In Proceedings of the Symposium on Integrated Circuits and Systems Design (SBCCI)</i>, pp. 149-154. ACM, 2011.</div>

<div class="gs_citr" tabindex="0">&nbsp;</div>

<div class="gs_citr" tabindex="0">1 - <strong>Vinicius S. Livramento</strong>, Bruno G. Moraes, Brunno A. Machado, and Jos&eacute; Lu&iacute;s G&uuml;ntzel. &quot;<a href="https://drive.google.com/file/d/0B_fC_3cMFKXnUTRxLW8zWDVCWk0/view?usp=sharing"><span style="color:#0000FF;">A High Throughput Multiplierless Low Power 8x8 2-D DCT IP for Portable Multimedia Application.</span></a>&quot; <i> Students Forum of the Symposium on Integrated Circuits and Systems Design (SBCCI)</i>, 2010.</div>
</body>
</html>

</section>
